@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f15a24;
  --color-secondary: #004aad;
  --color-accent: #ff3131;
  --color-neutral: #e4a367;;
  --color-base-100: #d8d6d3; 
  --color-base-200: #d4c1af;
  --color-base-300: #dbb897;
  --color-info: #83807e;
  --color-success: #0aac2d;
  --color-warning: ;
  --color-error: ;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h66{
  background: #f15a24;
  background: #004aad; /* secomdary */
  background: #ff3131;
  background: #e4a367;
  background: #d8d6d3; /* 100 */
  background: #d4c1af;
  background: #dbb897;
  background: #83807e; /* info */
  background: #0aac2d;
}


@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}
@keyframes zoom {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}


@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.animate-blink {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

/* coustom btn */
   @layer utilities {
  .btn-c {
    @apply inline-block px-5 py-3 rounded-lg text-white font-semibold 
           bg-gradient-to-r from-[#f15a24] via-[#004aad] to-[#795269] to-[#f15a24] to-[#795269]
           transition-all duration-700 ease-in-out;

    background-size: 200% 200%;
    background-position: left;
  }

  .btn-c:hover {
    background-position: right;
    @apply bg-gradient-to-r  from-[#f15a24] via-[#004aad] to-[#f15a24];
  }

   .btn-c-sm {
    @apply text-sm px-3 py-1.5;
  }
  
.swiper-s {
    @apply font-bold text-3xl shadow-lg shadow-secondary py-5 border-1 rounded-2xl flex justify-center items-center h-5/8 w-7/8 mx-auto;
  }
}
.profile-img {
  position: relative;
  border: 4px solid #004aad;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  /* border-radius: 30% 70% 60% 20% / 30% 30% 80% 70%; */
  /* border-radius:60% 20%  30% 70% /80% 70% 30% 30% ; */
}
